*{
	box-sizing: border-box;
}

.line{
	width: 50px;
	height: 3px;
	background-color: black;
}

.box{
     display: inline-block;
     opacity:50%;
}

p{
	margin:0px ;
	padding:0px ;
	position: relative;
	color: white;
	bottom: 30px;
	left: 85px;
}


.home{
	margin: 21px;
}

img{
	margin-left: 15px;
	opacity: 50%;

}

